@model IEnumerable<Finah_Web.Models.VragenLijst>

@{
    ViewBag.Title = "Vragenlijst - Overzicht";
}

<h3 id="Breadcrumb">Menu > Vragenlijsten</h3>
<h2 id="Content-Title">Overzicht</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table border="1"class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <button> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) </button> |
            <button> @Html.ActionLink("Details", "Details", new { id = item.Id }) </button> |
            <button> @Html.ActionLink("Delete", "Delete", new { id = item.Id }) </button>
        </td>
    </tr>
}

</table>
