################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/finah-web/packages
/finah-backend/Finah_Backend/App_Data
finah-web/.idea/workspace.xml
finah-backend/Finah_Backend/App_Data/FinahDBContext_log.ldf
*.mdf
*.ldf
finah-backend/Finah_Backend/App_Data/FinahDBContext.mdf
finah-backend/Finah_Backend/App_Data/FinahDBContext_log.ldf
finah-backend/Finah_Backend/App_Data/FinahDBContext.mdf
finah-backend/Finah_Backend/App_Data/FinahDBContext_log.ldf
