<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://finahbackend1920.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>finahbackend1920.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FinahBackend1920</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FinahBackend1920</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ptkfevfefi.database.windows.net,1433;Database=FinahBackend1920_db;User ID=FinahSQLDB@ptkfevfefi;Password=Raskinishot1415;Trusted_Connection=False;Encrypt=True;Connection Timeout=30; PersistSecurityInfo=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:ptkfevfefi.database.windows.net,1433;Database=FinahBackend1920_db;User ID=FinahSQLDB@ptkfevfefi;Password=Raskinishot1415;Trusted_Connection=False;Encrypt=True;Connection Timeout=30; PersistSecurityInfo=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Finah_Backend.DAL.FinahDBContext" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:ptkfevfefi.database.windows.net,1433;Initial Catalog=FinahBackend1920_db;User ID=FinahSQLDB@ptkfevfefi;Password=Raskinishot1415" Name="Data Source=tcp:ptkfevfefi.database.windows.net,1433;Initial Catalog=FinahBackend1920_db;User Id=FinahSQLDB@ptkfevfefi;Password=Raskinishot1415" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Finah_Backend.DAL.FinahDBContext, Finah_Backend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Finah_Backend.Models.ApplicationDbContext" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:ptkfevfefi.database.windows.net,1433;Initial Catalog=FinahBackend1920_db;User ID=FinahSQLDB@ptkfevfefi;Password=Raskinishot1415" Name="Data Source=tcp:ptkfevfefi.database.windows.net,1433;Initial Catalog=FinahBackend1920_db;User Id=FinahSQLDB@ptkfevfefi;Password=Raskinishot1415" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Finah_Backend.Models.ApplicationDbContext, Finah_Backend" MigrationConfiguration="Finah_Backend.Migrations.Configuration, Finah_Backend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Finah_Backend" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ptkfevfefi.database.windows.net,1433;Initial Catalog=AppDev;User ID=FinahSQLDB@ptkfevfefi;Password=Raskinishot1415" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Finah_Backend_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:ptkfevfefi.database.windows.net,1433;Initial Catalog=AppDev;User Id=FinahSQLDB@ptkfevfefi;Password=Raskinishot1415;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Finah_Backend-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Finah_Backend.DAL.FinahDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ptkfevfefi.database.windows.net,1433;Initial Catalog=FinahBackend1920_db;User Id=FinahSQLDB@ptkfevfefi;Password=Raskinishot1415</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Finah_Backend.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ptkfevfefi.database.windows.net,1433;Initial Catalog=FinahBackend1920_db;User Id=FinahSQLDB@ptkfevfefi;Password=Raskinishot1415</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>