@model Finah_Web.Models.Aandoening

@{
    ViewBag.Title = "Aandoening";
    Layout = "~/Views/Shared/_LayoutBeheren.cshtml";
}

<h3 id="Breadcrumb">Menu > Aandoening > Details</h3>
<h2 id="Content-Title">Details</h2>

<div class="detailsDiv">
    <dl class="dl-horizontal">
        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.Omschrijving):
        </dt>

        <dd>
            Dit is een voorbeeld omschrijving.
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

    </dl>
</div>
<div class="Back">
    @Html.ActionLink("Terug naar overzicht", "Overzicht")
</div>
