@CHARSET "ISO-8859-1";


#bbTopmenu {
	-fx-width: 100%;
}

.choice-box{
	-fx-text-fill :white;
}

.button, .menu-button {
	-fx-border-radius: 4px;	
	-fx-font-weight: 700;
	-fx-line-height: 1.25;
	-fx-background-color: #337ab7;
	-fx-text-fill: white;
	-fx-width : 75px;
	-fx-height : 40px;
}

.button:active, .button:focus, .button:hover {
	-fx-text-fill: white;
	-fx-background-color: rgb(74, 75, 78);
	-fx-border-color: #204d74;	
}

.button-bar .button:active,.button-bar  .button:focus,.button-bar  .button:hover ,.button-bar .menu-button:active,.button-bar  .menu-button:focus,.button-bar  .menu-button:hover {
	-fx-text-fill: white;
	-fx-background-color: rgb(74, 75, 78);
	-fx-border-color: white;	
}
.hbox .button:active,.hbox  .button:focus,.hbox  .button:hover ,.hboxr .menu-button:active,.hbox  .menu-button:focus,.hbox  .menu-button:hover {
	-fx-text-fill: red;
	-fx-background-color: rgb(74, 75, 78);
	-fx-border-color: white;	
}
#background {
    -light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(216, 222, 227);
    -fx-background-color: -mid-gray;
}

.button-bar .label {
	-fx-float : left;
}

.button-bar {
	-fx-float: left;
    -fx-base: rgb(39, 40, 40);
    -fx-font-size: 12pt;
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, rgb(74, 75, 78) 2%, rgb(39, 40, 40) 98%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: .45em 0.206667em .45em 0.206667em;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}
.segmented-button-bar .button {
    -fx-background-color:
        rgb(5, 5, 5),
        rgb(87, 89, 92),
        linear-gradient(to bottom, rgb(74, 75, 78) 2%, rgb(39, 40, 40) 98%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0.4em 0.2em 0.4em 0.2em ;
}
.segmented-button-bar .menu-button  {
    -fx-background-color:
        rgb(5, 5, 5),
        rgb(87, 89, 92),
        linear-gradient(to bottom, rgb(74, 75, 78) 2%, rgb(39, 40, 40) 98%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0.05em 0.4em 0.2em 0.4em ;
    
}
.segmented-button-bar .button.first {
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 2 0 0 2;
}
 
.segmented-button-bar .button.last {
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;
    
}
 
.segmented-button-bar .button:pressed , .segmented-button-bar .menu-button:pressed{
    -fx-background-color:
        rgb(5, 5, 5),
        rgb(55, 57, 58),
        linear-gradient(to top, rgb(74, 75, 78) 2%, rgb(39, 40, 40) 98%);
}
.button-bar .spacer {
    -fx-padding: 0 0.417em 0 0;
}