@{
    Layout = "~/Views/Shared/_LayoutBeheren.cshtml";
}

@{
    ViewBag.Title = "FINAH - BeheerdersMenu";
}
<div>
    <h3 id="Breadcrumb">Beheren > BeheerdersPagina</h3>
    <h2 id="Content-Title"> Beheren </h2>
    <article>


        Quisque sed lorem blandit, pretium odio non, volutpat erat. Nam eros tortor, hendrerit laoreet accumsan ut, commodo sed diam.
        Praesent non sodales quam. Vestibulum ante leo, rutrum nec malesuada eget, accumsan et justo. Duis a orci et dolor tempus
        rutrum at sit amet mauris. Vivamus consectetur libero vel metus iaculis, ut facilisis arcu rhoncus. Morbi ut nulla non sem malesuada pretium.
        <br />
        <br />
        Quisque sed lorem blandit, pretium odio non, volutpat erat. Nam eros tortor, hendrerit laoreet accumsan ut, commodo sed diam.
        Praesent non sodales quam. Vestibulum ante leo, rutrum nec malesuada eget, accumsan et justo. Duis a orci et dolor tempus
        rutrum at sit amet mauris. Vivamus consectetur libero vel metus iaculis, ut facilisis arcu rhoncus. Morbi ut nulla non sem malesuada pretium.
        <br />
        <br />
    </article>
</div>

