
<h2> Login </h2>
<br/>
<label style="float:left; margin-left:13px">Gebruikersnaam</label>
<input type="text" name="Username" width="150" maxlength="30" />
<br/>
<br/>

<label style="float:left; margin-left:13px">Wachtwoord</label>
<input type="password" name="Password" width="150" id="Password-field" maxlength="18" />
<br/>
<br/>
<input style="float:right; margin-right:20px; margin-top:15px; width:80px" type="submit" name="login" value="Log in" id="LoginBtn" />
